<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Tuan Vu Shop | Check Out</title>
		<!--/tags -->
		<script>
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);
		
			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--//tags -->
		
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/NewStyle.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/font-awesome.css" rel="stylesheet">
		
		<!--pop-up-box-->
		<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
		
		<!-- price range -->
		<link href="css/jquery-ui1.css" rel="stylesheet" type="text/css">
		
		<!-- fonts -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
		
		<!-- fa fa-icons -->
		<link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	</head>
	
	<body>
		<!-- header-bot-->
		<div class="header-bot">
			<div class="header-bot_inner_wthreeinfo_header_mid">
				<!-- header-bot-->
				<div class="col-md-4 logo_agile">
					<h1>
						<a href="/">
							<span>T</span>uan
							<span>V</span>u
							<span>S</span>hoppy
							<img src="imagesHome/logoShop.png" alt=" ">
						</a>
					</h1>
				</div>
				<!-- header-bot -->
				<div class="col-md-8 header">
					<!-- header lists -->
					<ul>
						<li>
							<span class="fa fa-phone" aria-hidden="true"></span> 222 333 444
						</li>
						<li>
							<a th:if="${#request.userPrincipal} == null" href="/sign-in">
								<span class="fa fa-unlock-alt" aria-hidden="true"></span>Đăng Nhập
							</a>
							<a th:if="${#request.userPrincipal} != null" th:text="${#request.userPrincipal.name}" href="/admin"></a>
						</li>
						<li>
							<a th:if="${#request.userPrincipal} == null" href="/sign-up">
								<span class="fa fa-pencil-square-o" aria-hidden="true"></span>Đăng Ký
							</a>
							<th:block th:if="${#request.userPrincipal} != null">
								<a href="#" onclick="document.getElementById('logout-form').submit();">Đăng Xuất</a>
								<form th:action="@{/j_spring_security_logout}" id="logout-form" method="post"></form>
							</th:block>
						</li>
					</ul>
					<!-- search -->
					<div class="agileits_search">
						<form action="#" method="post">
							<input name="Search" type="search"
								placeholder="Chúng tôi có thể giúp gì cho bạn?" required>
							<button type="submit" class="btn btn-default"
								aria-label="Left Align">
								<span class="fa fa-search" aria-hidden="true"></span>
							</button>
						</form>
					</div>
					<!-- //search -->
					<!-- cart details -->
					<div class="top_nav_right">
						<div class="wthreecartaits wthreecartaits2 cart cart box_1">
							<form action="/show-cart" method="get" class="last">
								<button class="w3view-cart" type="submit">
									<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
					<!-- //cart details -->
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- //header-bot-->
		
		<!-- navigation -->
		<div class="ban-top">
			<div class="container">
				<div class="top_nav_left">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed"
									data-toggle="collapse"
									data-target="#bs-example-navbar-collapse-1"
									aria-expanded="false">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse menu--shylock"
								id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav menu__list">
									<li class="">
										<a class="nav-stylehead" href="/">Trang Chủ</a>
									</li>
									<li class="">
										<a class="nav-stylehead" href="/product">Sản Phẩm</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<!-- //navigation -->
		
		<!-- banner-2 -->
		<div class="page-head_agile_info_w3l"></div>
		<!-- //banner-2 -->
		
		<!-- page -->
		<div class="services-breadcrumb">
			<div class="agile_inner_breadcrumb">
				<div class="container">
					<ul class="w3_short">
						<li>
							<a href="/">Home</a><i>|</i>
						</li>
						<li>Giỏ Hàng</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //page -->
		<!-- checkout page -->
		<div class="privacy">
			<div class="container">
				<!-- tittle heading -->
				<h3 class="tittle-w3l">Giỏ Hàng
					<span class="heading-style">
						<i></i>
						<i></i>
						<i></i>
					</span>
				</h3>
				<!-- //tittle heading -->
				<div class="checkout-right">
					<h4>Đây là các sản phẩm của bạn:</h4>
					<script type="text/javascript">
						function removefromcart(id, quantity) {
							var request = new XMLHttpRequest;
							request.onreadystatechange = function() {
								if (this.readyState == 4 && this.status == 200
										&& this.responseText == 'success') {
									document.getElementById('spso' + id).remove();
								}
							}
							request.open("GET", "/removefromcart/" + id + "/"
									+ quantity, true);
							request.send();
						}
					</script>
					<div class="table-responsive">
						<table class="timetable_sub">
							<thead>
								<tr>
									<th>ID</th>
									<th>Ảnh</th>
									<th>Tên sản phẩm</th>
									<th>Số lượng</th>
									<th>Tổng giá</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								<tr class="rem1" th:each="product : ${products}" th:id="'spso' + ${product.idproduct}">
									<td class="invert" th:text="${product.idproduct}"></td>
									<td class="invert"><img th:src="'/image/' + ${product.image}" style="width: 50px; height: 50px"></td>
									<td class="invert" th:text="${product.productname}"></td>
									<td class="invert" th:text="${product.quantity}"></td>
									<td class="invert" th:text="${product.price} * ${product.quantity} + ' VND'"></td>
									<td class="invert">
										<a href="#" th:onclick="${'javascript:removefromcart(' + product.idproduct + ',' + product.quantity + ')'}">
											<i class="fa fa-times-rectangle"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="checkout-left">
					<div class="address_form_agile">
						<h4>Vui lòng điền đầy đủ thông tin dưới đây:</h4>
						<form action="/checkout" method="post">
							<div class="creditly-wrapper wthree, w3_agileits_wrapper">
								<div class="information-wrapper">
									<div class="first-row">
										<div class="controls">
											<input type="text" name="customername" placeholder="Full Name" required>
										</div>
										<div class="w3_agileits_card_number_grids">
											<div class="w3_agileits_card_number_grid_left">
												<div class="controls">
													<input type="text" placeholder="Number Number" name="numberphone" required>
												</div>
											</div>
											<div class="w3_agileits_card_number_grid_right">
												<div class="controls">
													<input type="text" placeholder="Address" name="address" required>
												</div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
									<button class="submit check_out" type="submit">Giao Hàng Cho Tôi &#10004;</button>
								</div>
							</div>
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //checkout page -->
		
		<!-- footer -->
		<footer>
			<div class="container">
				<hr>
				<hr>
				<!-- footer third section -->
				<div class="footer-info w3-agileits-info">
					<!-- quick links -->
					<div class="col-sm-10 address-right">
						<div class="col-xs-6 footer-grids">
							<h3>Menu Nhanh</h3>
							<ul>
								<li><a href="/">Trang Chủ</a></li>
								<li><a href="/product">Sản Phẩm</a></li>
							</ul>
						</div>
						<div class="col-xs-6 footer-grids">
							<h3>Địa Chỉ</h3>
							<ul>
								<li><i class="fa fa-map-marker"></i> 123 Nguyễn Văn T, Tp.Dương Thành V</li>
								<li><i class="fa fa-mobile"></i> 333 222 444</li>
								<li><i class="fa fa-phone"></i> +222 333 444</li>
								<li><i class="fa fa-envelope-o"></i> tuanvushop@gmail.com</li>
							</ul>
						</div>
					</div>
					<!-- //quick links -->
					<!-- social icons -->
					<div class="col-sm-2 footer-grids  w3l-socialmk">
						<h3>Follow Us on</h3>
						<div class="social">
							<ul>
								<li>
									<a class="icon fb" href="#">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a class="icon tw" href="#">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a class="icon gp" href="#">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="agileits_app-devices">
							<h5>Download the App</h5>
							<a href="#"><img src="imagesHome/1.png" alt=""></a>
							<a href="#"><img src="imagesHome/2.png" alt=""></a>
							<div class="clearfix"></div>
						</div>
					</div>
					<!-- //social icons -->
					<div class="clearfix"></div>
				</div>
				<!-- //footer third section -->
			</div>
		</footer>
		<!-- //footer -->
	
		<!-- jquery -->
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/jquery.magnific-popup.js"></script>
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type : 'inline',
					fixedContentPos : false,
					fixedBgPos : true,
					overflowY : 'auto',
					closeBtnInside : true,
					preloader : false,
					midClick : true,
					removalDelay : 300,
					mainClass : 'my-mfp-zoom-in'
				});
	
			});
		</script>
		<script src="js/jquery-ui.js"></script>
		<script> 
			$(window).load(
				function() {
					$("#slider-range").slider({
						range : true,
						min : 0,
						max : 9000,
						values : [ 50, 6000 ],
						slide : function(event, ui) {
							$("#amount").val(
									"$" + ui.values[0] + " - $"
											+ ui.values[1]);
						}
					});
					$("#amount").val(
							"$" + $("#slider-range").slider("values", 0)
							+ " - $"
							+ $("#slider-range").slider("values", 1));
	
				});
		</script>
		<script src="js/jquery.flexisel.js"></script>
		<script>
			$(window).load(function() {
				$("#flexiselDemo1").flexisel({
					visibleItems : 3,
					animationSpeed : 1000,
					autoPlay : true,
					autoPlaySpeed : 3000,
					pauseOnHover : true,
					enableResponsiveBreakpoints : true,
					responsiveBreakpoints : {
						portrait : {
							changePoint : 480,
							visibleItems : 1
						},
						landscape : {
							changePoint : 640,
							visibleItems : 2
						},
						tablet : {
							changePoint : 768,
							visibleItems : 2
						}
					}
				});
	
			});
		</script>
		<script src="js/SmoothScroll.min.js"></script>
		<script src="js/move-top.js"></script>
		<script src="js/easing.js"></script>
		<script>
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop : $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<script src="js/bootstrap.js"></script>
		<!-- //js-files -->
	
	</body>
</html>